/* Estilos CSS para el formulario */
body {
    font-family: 'Mulish', sans-serif;
}

html {
    height: 100%;
    width: 100%;
}

header {
/*     border: 3px solid red; */
    background: linear-gradient(#4ca1af, #21B2E0,#fdfdfd,#ffffff);
    padding: 20px 30px;
    font-size: 40px;
    font-weight: bolder;
    line-height: 1.25;
}

.box{
/*     border: 3px solid orange; */
    width: 940px;
    position:relative;
    margin-left: auto;
    margin-right: auto;
}

.titles{
/*     border: 3px solid blue; */
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

.titles h1{
    text-align: center;
    font-size: 1em;/*Tamaño de fuente dos veces del tamaño original*/
/*     margin: 0 0 1em 0;/*Margen externo inferior del tamaño de fuente por defecto*/
    /*clear:left; */
   /*  color: rgba(0, 0, 0, 0.25); *//*Aplicar estilo de color RGB a los títulos, incluyendo la opacidad*/
/*     text-shadow: 2px 2px 10px #21B2E0;*/
}


.servicios{
    margin:150px auto;
}

.listado-servicios{
    width: 940px;
/*     text-align: center; */
}

.listado-servicios li {
    display: inline-block;
/*  border: 0.5px groove black;
    border-radius: 7px; */
    width: 45%;
    vertical-align: top;
    margin: 0 1%;
    line-height: 1.5;
    text-decoration: none;
    color: #3e8e41;
    font-size: 23px;
}

.listado-servicios h2{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.listado-servicios items{
    text-align: left;
}

fieldset{
    display: block;
    margin: 50px;
    padding: 25px;
    border: 4px groove;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
select {
    display: block;
    width: 100%;
    margin-bottom: 15px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    box-sizing: border-box;
}

input[type="submit"],
input[type="button"] {
    font-family: 'Mulish', sans-serif;
    width: auto;
    background-color: #1A6DB6;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 12px 20px;
    font-size: 16px;
/*     transition: background-color 0.3s ease; */
}

input[type="submit"]:hover {
    background-color: #21B2E0;
}

input[type="button"]:hover {
    background-color: #21B2E0;
}

span {
    color: red;
}

/* Estilos CSS para las tablas */
table {
    border-collapse: collapse;
    width: 100%;
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    border-radius: 15px;
    margin:50px auto;
}

th,
td {
    padding: 10px;
    text-align: center;
    border: 1.5px groove #49c2e6;
}

td {
    color: #000000;
}

th {
    color: #ffffff;
    background-color: #21B2E0;
    font-weight: bold;
}

.tabla-container {
    max-width: 940px;
    margin: 10px auto 10px;

}

.contenido-servicios {
    width: 940px;
    margin: 0 auto;
}
.boton-container {
/*     border: 3px solid black; */
    margin-top:20px;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

.boton-container input{
    margin-left: auto;
    margin-right: auto;
}

.item-med::before{
/*     content:"⚕️" */
    /* content:"🙋" */
    content:"👨‍⚕️"
}

.item-pac::before{
    content:"🙋"
    }

.item-med a,
.item-pac a{
    text-decoration: none;
    color: black;
}

.title{
    text-align: center;
    font-size: 2em;/*Tamaño de fuente dos veces del tamaño original*/
    margin: 0 0 1em 0;/*Margen externo inferior del tamaño de fuente por defecto*/
    clear:left;
    color: rgba(0, 0, 0, 0.25);/*Aplicar estilo de color RGB a los títulos, incluyendo la opacidad*/
    text-shadow: 2px 2px 10px red;
  }

footer{
    text-align: center;
/*     background: #21B2E0; */
    background: linear-gradient(#FFFFFF,#fdfdfdfd,#21B2E0,#4ca1af);
    bottom: 0;
    width: 100%;
    padding: 20px;
}